
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

// FontAwesome
@import "../css/font-awesome-4.7.0/css/font-awesome.min.css";

// Table related styles
table.table.vertical td {
  vertical-align: middle;
}

.dataTables_wrapper {
  overflow-x: hidden;
  overflow-y: hidden;
}

.table-data tr td:first-child {
  text-align:right
}

.table-data tr td:last-child {
  text-align: center
}